@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-elms: "Elms Sans", sans-serif;
  --font-uncial: "Uncial Antiqua", cursive;
}


html,body{
  height: 100%;
  width: 100%;
}
img{
  opacity: 0;
}